.wrapper {
  border: 1px solid rgba($color: blue, $alpha: 0.1);
  border-radius: 0.5rem;
  min-width: 30rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .info {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex: 1;
    padding: 0 2rem;
    .temp {
      display: flex;
      justify-content: space-between;
      width: 100%;
      span {
        font-size: 3rem;
      }

      & > * {
        display: inline-block;
      }
    }
    .feels {
      min-width: fit-content;
      span {
        font-weight: 500;
        // border: 1px solid red;
      }
    }
  }
}
