@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "./styles/weather-icons/weather-icons-wind.min.css";
@import "./styles/weather-icons/weather-icons.min.css";

$bg-main: #2a0a4a;
$icon-main: #924da3;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all ease-in-out 200ms;
}
p {
  line-height: 1.5rem;
}

h2 {
  font-size: 2.15rem;
  line-height: 2.5rem;
}

button {
  cursor: pointer;
}
i {
  color: $icon-main;
  font-size: 2rem;
}

a {
  text-decoration: none;
}
