@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$bg-main: #2a0a4a;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all ease-in-out 200ms;
}
p {
  line-height: 1.5rem;
  color: gainsboro;
}
h2 {
  font-size: 2.15rem;
  line-height: 2.5rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
